*.suo
*.user
/*/*.user
/*/*/*.user
/*/*/*/*.user
/*/*.suo
/*/*/*.suo
/*/bin
/*/obj
/*/*/bin
/*/*/obj
/*/*/*/bin
/*/*/*/obj
/*/*/*/*/bin
/*/*/*/*/obj
/*/*/*/*/*/bin
/*/*/*/*/*/obj
/*/*/*/*/*/*/bin
/*/*/*/*/*/*/obj
_ReSharper*
