<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
	<meta charset="utf-8" />
	<title>Core War</title>
	<script src="jquery-1.7.2.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/bootstrap.css" />
	<link rel="stylesheet" href="common.css" />
	<script src="common.js"></script>
	<script src="server.js"></script>
	<script>
		var PlayerController = function($scope, $http) {
			var f = MakeJsonController(server.basePath() + "arena/player" + window.location.search);
			$scope.openDebugger = function(gameInfo) {
				window.location = "debugger/load?" + $.param(gameInfo);
			};
			f($scope, $http);
		};
	</script>
</head>
<body>
	<div class="container" ng-controller="PlayerController">
		<script>nav()</script>
		<div class="page-header">
			<h1>Бот {{rankingEntry.name}} v{{rankingEntry.version}}</h1>
		</div>
		<div>Авторство: {{authors}}</div>
		<div>Время создания: {{submitTimestamp}}</div>
		<div>Всего боев: {{rankingEntry.games}}</div>
		<div>Всего очков: {{rankingEntry.score}} <span class="small">({{rankingEntry.score/rankingEntry.games | number:1}} за бой)</span></div>
		<div>Побед: {{rankingEntry.wins}} <span class="small">({{100*rankingEntry.wins/rankingEntry.games | number:0}}%)</span></div>
		<div>Ничьих: {{rankingEntry.draws}} <span class="small">({{100*rankingEntry.draws/rankingEntry.games | number:0}}%)</span></div>
		<div>Поражений: {{rankingEntry.loses}} <span class="small">({{100*rankingEntry.loses/rankingEntry.games | number:0}}%)</span></div>
		<h3>Статистика боев с другими ботами</h3>
		<table class="table table-bordered table-condensed">
			<tr>
				<th>Противник</th>
				<th colspan="2">Побед</th>
				<th colspan="2">Ничьих</th>
				<th colspan="2">Поражений</th>
				<th ng-if="godMode">Битвы</th>
			</tr>
			<tr ng-repeat="enemyStats in gamesByEnemy">
				<td><a href="player.html?name={{enemyStats.enemy}}&version={{enemyStats.enemyVersion}}">
						{{enemyStats.enemy}} v{{enemyStats.enemyVersion}}
					</a></td>
				<td>{{enemyStats.wins}}</td>
				<td class="small">{{100*enemyStats.wins/enemyStats.games | number:0}}%</td>
				<td>{{enemyStats.draws}}</td>
				<td class="small">{{100*enemyStats.draws/enemyStats.games | number:0}}%</td>
				<td>{{enemyStats.loses}}</td>
				<td class="small">{{100*enemyStats.loses/enemyStats.games | number:0}}%</td>
				<td ng-if="godMode">
					<span ng-repeat="gameInfo in enemyStats.gameInfos">
						<a href="javascript:void(0)" ng-click="openDebugger({{gameInfo}})">{{gameInfo.player1Result.resultType}}</a>
					</span>
				</td>
			</tr>
		</table>
		<pre ng-if="godMode">{{program}}</pre>
		<h3>Все версии бота</h3>
		<ul>
			<li ng-repeat="botVersionInfo in botVersionInfos">
				<a href="player.html?name={{botVersionInfo.name}}&version={{botVersionInfo.version}}">{{botVersionInfo.name}} v{{botVersionInfo.version}}</a> ({{botVersionInfo.timestamp}})
			</li>
		</ul>
	</div>
</body>
</html>
