<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" ng-app>
<head>
	<meta charset="utf-8" />
	<title>Core War Arena</title>
	<script src="jquery-1.7.2.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="bootstrap.min.js"></script>
	<link rel="stylesheet" href="bootstrap/bootstrap.css" />
	<script src="common.js"></script>
	<script src="server.js"></script>
	<script>
		var RankCtrl = function($scope, $http) {
			var f = MakeJsonController(server.basePath() + "arena/ranking" + window.location.search);
			$scope.removePlayer = function(player) {
				window.location = "arena/player/remove?name=" + player.name;
			};

			function refresh() {
				f($scope, $http);
			}

			refresh();
			setInterval(refresh, 10000);
		};
	</script>
	<style>
		.ranking-table th {
			text-align: center;
		}
	</style>
	<link rel="stylesheet" href="common.css" />
</head>
<body>
	<div class="container" ng-controller="RankCtrl">

		<script>nav()</script>

		<div class="page-header">
			<h1>Турнирная таблица</h1>
			<span ng-if="tournamentIsRunning">Идет очередной турнир...</span>
		</div>

		<div>Время завершения последнего турнира: {{ranking.timestamp}} UTC</div>
		<table class="table table-condensed table-bordered ranking-table">
			<tr>
				<th>№</th>
				<th>Бот</th>
				<th colspan="2">Очки</th>
				<th colspan="2">Побед</th>
				<th colspan="2">Ничьих</th>
				<th colspan="2">Поражений</th>
				<th>Всего боев</th>
				<th ng-if="godMode"></th>
			</tr>
			<tr ng-repeat="p in ranking.places">
				<td>{{$index+1}}</td>
				<td><a href="player.html?name={{p.name}}&version={{p.version}}">{{p.name}} v{{p.version}}</a></td>
				<td>{{p.score}}</td>
				<td class="small">{{p.score / p.games | number:1}} за бой</td>
				<td>{{p.wins}}</td>
				<td class="small">{{100*p.wins / p.games | number:0}}%</td>
				<td>{{p.draws}}</td>
				<td class="small">{{100*p.draws / p.games | number:0}}%</td>
				<td>{{p.loses}}</td>
				<td class="small">{{100*p.loses / p.games | number:0}}%</td>
				<td>{{p.games}}</td>
				<td ng-if="godMode"><a href="javascript:void(0)" ng-click="removePlayer({{p}})">Удалить насовсем!</a></td>
			</tr>
		</table>
		
		<h3>История турниров</h3>
		<ul>
			<li ng-repeat="historyItem in historyItems"><a href="ranking.html?tournamentId={{historyItem.tournamentId}}">Время начала: {{historyItem.creationTimestamp}} UTC</a></li>
		</ul>
	</div>
</body>
</html>
